<div *ngIf="tournament" class="content-wrapper">
   <div class="tournament-container">
      <div class="tournament-back-container">
         <a class="tournament-back-link" [routerLink]="['/tournaments']"><i class="fas fa-angle-left"></i> Back to tournaments</a>
      </div>

      <div class="tournament-header-container">
         <div class="tournament-logo-container">
            <img class="tournament-pokerroom" src="../../../assets/images/PokerStars_emblem.svg">
         </div>
         <div class="tournament-info-container">
            <p class="tournament-name">{{ tournament.name }}</p>
            <p class="tournament-pokerroom"><i class="fas fa-map-marker-alt"></i> {{ tournament.pokerroom }}</p>
         </div>
      </div>
   </div>

   <div class="sidebar-container">
      <div class="play-tournament-container">
         <div class="play-tournament-info">
            <div class="play-tournament-info-total">
               <p class="tournament-info-total-key">Buyin</p>
               <p class="tournament-info-total-value">${{ tournament?.buyin.total | number : '1.2-2' }}</p>
            </div>
            <div class="play-tournament-info-breakdown">
               <div class="tournament-breakdown-row">
                  <p class="tournament-breakdown-row-key">Regular prize pool</p>
                  <p class="tournament-breakdown-row-value">${{ tournament?.buyin.regularPool | number : '1.2-2' }}</p>
               </div>
               <div class="tournament-breakdown-row">
                  <p class="tournament-breakdown-row-key">Bounty pool</p>
                  <p class="tournament-breakdown-row-value">${{ tournament?.buyin.bountyPool | number : '1.2-2' }}</p>
               </div>
               <div class="tournament-breakdown-row">
                  <p class="tournament-breakdown-row-key">Rake</p>
                  <p class="tournament-breakdown-row-value">${{ tournament?.buyin.rake | number : '1.2-2' }}</p>
               </div>
            </div>
         </div>
         
         <hr class="separator">

         <div class="play-tournament-schedule">
            <div class="play-tournament-date">
               <p class="sidebar-subtitle">Proposed date</p>
               <p class="play-tournament-proposed-date">
                  <i class="far fa-calendar-alt"></i> 
                  {{ today | date:'EEE, LLL dd' }} at {{ tournament.time.hour | number : '2.0-0' }}:{{ tournament.time.minute | number : '2.0-0' }}
               </p>
            </div>
            <div class="play-tournament-button">
               <button type="button" class="btn btn-default">Play tournament</button>
            </div>
         </div>
      </div>
   </div>
</div>