/* General */
.content-wrapper {
   display: grid;
   grid-template-columns: calc(100% - 380px) 320px;
   grid-column-gap: 60px;
}

/* ======= TOURNAMENT ======= */
/* Back link */
.tournament-back-link {
   text-decoration: none;
   outline: none;
   color: hsl(0, 0%, 29%);
   font-weight: 600;
   font-size: .9rem;
}

.tournament-back-link > i {
   margin-right: 10px;
}

/* Tournament header */
.tournament-header-container {
   display: flex;
   margin-top: 30px;
}

/* Pokerroom logo */
.tournament-logo-container {
   background-color: hsl(0, 0%, 95%);
   border-radius: 50%;
   width: 70px;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.tournament-pokerroom-logo {
   width: 2rem;
}

/* Tournament info */
.tournament-info-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 30px;
}

.tournament-name {
   font-size: 1.2rem;
   font-weight: 600;
}

.tournament-pokerroom {
   color: hsl(0, 0%, 45%);
}

.tournament-pokerroom > i {
   font-size: .9rem;
   margin-right: 10px;
}


/* ======= PLAY/SIDEBAR ======= */
/* General */
.play-tournament-container {
   padding: 22px;
   background-color: hsl(0, 0%, 100%);
   -webkit-box-shadow: 0 3px 5px 0 hsla(0, 0%, 0%, 0.05);
   -moz-box-shadow: 0 3px 5px 0 hsla(0, 0%, 0%, 0.05);
   box-shadow: 0 3px 5px 0 hsla(0, 0%, 0%, 0.05);
}

.play-tournament-container > hr {   
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid hsl(0, 0%, 92%);
   padding: 0;
   margin: 25px 0;
}

/* Info */
/* Info top*/
.tournament-info-total-key {
   color: hsl(0, 0%, 55%);
   font-size: .9rem;
}

.tournament-info-total-value {
   font-weight: 600;
   font-size: 2.2rem;
}

/* Info bottom*/
.play-tournament-info-breakdown {
   margin-top: 25px;
}

.tournament-breakdown-row {
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
}

.tournament-breakdown-row-key {
   color: hsl(0, 0%, 66%);
   font-size: .80rem;
}

.tournament-breakdown-row-value {
   color: hsl(0, 0%, 45%);
   font-size: .80rem;
   font-weight: 600;
}

/* Date */
.play-tournament-date {
   margin-bottom: 25px;
}

.sidebar-subtitle {   
   color: hsl(0, 0%, 66%);
   font-size: .80rem;
}

.play-tournament-proposed-date {
   color: hsl(0, 0%, 45%);
   font-size: .80rem;
   font-weight: 600;
   margin-top: 5px;
}

.btn {
   width: 100%;
   padding: 10px;
   font-size: .9rem;
   letter-spacing: 1px;
}