/* General */
.content-wrapper {
   display: grid;
   grid-template-columns: calc(100% - 360px) 300px;
   grid-column-gap: 60px;
}

/* ======= TOURNAMENT ======= */
.page-title {
   margin-bottom: 30px;
}

.page-title > span {
   font-weight: 700;
}

/* General*/
.tournament {
   display: flex;   
   padding: 10px 22px;
   margin-bottom: 10px;
   /* width: 100%; ??? Why acting strange */ 
   background-color: hsl(0, 0%, 100%);
   -webkit-box-shadow: 0 3px 5px 0 hsla(0, 0%, 0%, 0.05);
   -moz-box-shadow: 0 3px 5px 0 hsla(0, 0%, 0%, 0.05);
   box-shadow: 0 3px 5px 0 hsla(0, 0%, 0%, 0.05);
   outline: none;
   cursor: pointer;
}

.tournament-left-container, .tournament-right-container {
   display: flex;
}

.tournament-left-container {
   justify-content: flex-start;
   width: calc(100% - 200px);
}

.tournament-right-container {
   justify-content: flex-end;
   width: 200px;
}

/* Poker room */
.tournament-pokerroom-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 22px;
}

.tournament-pokerroom {
   width: 1rem;
}

/* Info */
.tournament-info-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.tournament-name {
   font-size: .9rem;
   font-weight: 600;
}

.tournament-time {
   font-size: .77rem;
   color: hsl(0, 0%, 45%);
}

/* Buyin & Prizepool */
.tournament-buyin-container, .tournament-prizepool-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100px;
}

.tournament-buyin, .tournament-prizepool {
   font-size: .85rem;
   font-weight: 600;
}

.tournament-info-subtitle {
   font-size: .60rem;
   color: hsl(0, 0%, 66%);
}

/* ======= SIDEBAR ======= */
/* General */
.sidebar-title {
   font-size: .8rem;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: initial;
}

/* === Filters === */
.filters-container {
   margin-bottom: 60px;
}

/* === Buyin === */
.slider-buyin-container {
   margin-top: 15px;
}

.slider-buyin {   
   -webkit-appearance: none;  /* Override default CSS styles */
   appearance: none;
   width: 100%;
   height: 5px;
   margin-top: 5px;
   position: relative;
   background: hsl(0, 0%, 94%);   
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
   border-radius: 25px;
   outline: none;
}

.slider-buyin::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
   appearance: none;
   width: 10px; /* Set a specific slider handle width */
   height: 10px; /* Slider handle height */
   border-radius: 50%;
   background: hsl(133, 44%, 51%);; /* Green background */
   cursor: pointer; /* Cursor on hover */
}

.slider-buyin::-moz-range-thumb {
   width: 10px; /* Set a specific slider handle width */
   height: 10px; /* Slider handle height */
   border-radius: 50%;
   background: hsl(133, 44%, 51%);; /* Green background */
   cursor: pointer; /* Cursor on hover */
}

.buyin-stats {
   display: grid;
   grid-template-columns: 200px 100px
}

.buyin {   
   font-size: .77rem;
   color: hsl(0, 0%, 45%);
}

.buyin-value {
   text-align: right;   
   font-size: .77rem;
   color: hsl(0, 0%, 66%);
}

/* === Tags === */
.tags-container {
   margin-top: 30px;
   display: flex;
   flex-flow: row wrap;
}

.tags {
   border-radius: 8px;
   padding: 5px 11px;
   margin-right: 8px;
   margin-bottom: 8px;
   cursor: pointer;
}

.tag-name {
   font-size: .55rem;
   font-weight: 700;
   text-align: center;
}

/* Speed */
.tags-speed {
   background-color: hsl(214, 42%, 94%);
}

.tag-name-speed {
   color: hsl(214, 42%, 26%);
}

.tag-name-unchecked-speed {
   color: hsl(214, 42%, 80%);
}

/* === Statistics === */
/* Formats */
.statistics-format-container {
   margin-top: 60px;
}

.format-container {
   margin-top: 20px;
}

.format-stats {
   display: grid;
   grid-template-columns: 200px 100px
}

.format {   
   font-size: .77rem;
   color: hsl(0, 0%, 45%);
}

.format-count {
   text-align: right;   
   font-size: .77rem;
   color: hsl(0, 0%, 66%);
}

.format-count > span {
   font-weight: 700;
   color: hsl(0, 0%, 45%);
}

.format-bar {
   height: 5px;
   margin-top: 5px;
   position: relative;
   background-color: hsl(0, 0%, 94%);   
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

.format-progressbar {
   display: block;
   height: 100%;
   background: linear-gradient(to right, #5fcd77 0%, #4bb963 100%);
   position: relative;
   overflow: hidden;   
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

/* === Starting tournaments === */
/* General */
.starting-tournaments-container {
   margin-top: 60px;
}

/* Starting tournament */
.starting-tournament {
   display: flex;
   margin-top: 15px;
}

.starting-tournament-name {
   font-size: .9rem;
   font-weight: 600;
}

.starting-tournament-time {
   font-size: .77rem;
   color: hsl(0, 0%, 66%);
}