<div class="content-wrapper">

   <div class="tournaments-container">
      <h1 class="page-title">Tournaments</h1>
   
      <div *ngFor="let tournament of tournaments" class="tournament">
         <div class="tournament-left-container">
            <div class="tournament-pokerroom-container">
               <img class="tournament-pokerroom" src="../../../assets/images/PokerStars_emblem.svg">
            </div>
            <div class="tournament-info-container">
               <p class="tournament-name">{{ tournament.name }}</p>
               <p class="tournament-time">Starts at {{ tournament.time.hour | number : '2.0-0' }}:{{ tournament.time.minute | number : '2.0-0' }}</p>
            </div>
         </div>
         <div class="tournament-right-container">
            <div class="tournament-buyin-container">
               <p class="tournament-buyin">${{ tournament.buyin | number : '1.2-2' }}</p>
               <p class="tournament-info-subtitle">Buyin</p>
            </div>
            <div class="tournament-prizepool-container">
               <p class="tournament-prizepool">${{ tournament.prizePool }}</p>
               <p class="tournament-info-subtitle">Prize pool</p>
            </div>
         </div>
      </div>
   </div>
   
   <div class="sidebar-container">
      <div class="filters-container">   
         <div class="slider-buyin-container"></div>
         <div class="tags-speed-container">
            <div class="tags" *ngFor="let speed of speeds">
               <p class="tags-name">{{ speed }}</p>
            </div>
         </div>
      </div>

      <!-- 
         Slider for BUYIN/TIME(?)
         Tags(/checkboxes) for SPEED/FORMAT
         Search bar (?)
      -->

      <div class="statistics-format-container">
         <div class="format-container"> <!-- *ngFor -->            
            <div class="format-stats">
               <p class="format">Regular</p> <!-- {{ format.name }} -->
               <p class="format-count"><span>1</span> / 3</p> <!-- {{ format.count }}/{{ tournaments.length }} -->
            </div>
            <div class="format-bar">
               <span style="width: 12%" class="format-progressbar"></span>
            </div>
         </div>
         <div class="format-container"> <!-- *ngFor -->
            <div class="format-stats">
               <p class="format">Bounty Builder</p> <!-- {{ format.name }} -->
               <p class="format-count"><span>1</span> / 3</p> <!-- {{ format.count }}/{{ tournaments.length }} -->
            </div>
            <div class="format-bar">
               <span style="width: 68%" class="format-progressbar"></span>
            </div>
         </div>
         <div class="format-container"> <!-- *ngFor -->  
            <div class="format-stats">
               <p class="format">Big</p> <!-- {{ format.name }} -->
               <p class="format-count"><span>1</span> / 3</p> <!-- {{ format.count }}/{{ tournaments.length }} -->
            </div>
            <div class="format-bar">
               <span style="width: 30%" class="format-progressbar"></span>
            </div>
         </div>
      </div>

      <div class="starting-tournaments-container">
         <h2 class="starting-tournaments-title">Starting soon</h2>

         <div class="starting-tournament">  <!-- *ngFor -->            
            <div class="tournament-pokerroom-container">
               <img class="tournament-pokerroom" src="../../../assets/images/PokerStars_emblem.svg">
            </div>
            <div class="starting-tournament-info-container">
               <p class="starting-tournament-name">Bounty Builder $4.40</p> <!-- {{ startingTournament.tournament.name }} -->
               <p class="starting-tournament-time">Starts in 4 minutes</p> <!-- {{ startingTournament.startsIn }} -->
            </div>
         </div>
         <div class="starting-tournament">  <!-- *ngFor -->         
            <div class="tournament-pokerroom-container">
               <img class="tournament-pokerroom" src="../../../assets/images/PokerStars_emblem.svg">
            </div>
            <div class="starting-tournament-info-container">
               <p class="starting-tournament-name">Bounty Builder $4.40</p> <!-- {{ startingTournament.tournament.name }} -->
               <p class="starting-tournament-time">Starts in 21 minutes</p> <!-- {{ startingTournament.startsIn }} -->
            </div>
         </div>
         <div class="starting-tournament">  <!-- *ngFor -->         
            <div class="tournament-pokerroom-container">
               <img class="tournament-pokerroom" src="../../../assets/images/PokerStars_emblem.svg">
            </div>
            <div class="starting-tournament-info-container">
               <p class="starting-tournament-name">Bounty Builder $4.40</p> <!-- {{ startingTournament.tournament.name }} -->
               <p class="starting-tournament-time">Starts in 38 minutes</p> <!-- {{ startingTournament.startsIn }} -->
            </div>
         </div>
         <div class="starting-tournament">  <!-- *ngFor -->         
            <div class="tournament-pokerroom-container">
               <img class="tournament-pokerroom" src="../../../assets/images/PokerStars_emblem.svg">
            </div>
            <div class="starting-tournament-info-container">
               <p class="starting-tournament-name">Bounty Builder $4.40</p> <!-- {{ startingTournament.tournament.name }} -->
               <p class="starting-tournament-time">Starts in 44 minutes</p> <!-- {{ startingTournament.startsIn }} -->
            </div>
         </div>
      </div>
   </div>

</div>