<div *ngIf="tournaments && startingTournaments && userSchedule" class="content-wrapper">
   <div class="tournaments-container">
      <h1 class="page-title"><span>{{ (tournaments | filterBuyin : minBuyin : maxBuyin | filterSpeed : speeds)?.length }}</span> tournaments found</h1>
      <div class="tournament" *ngFor="let tournament of tournaments 
                                          | filterBuyin : minBuyin : maxBuyin
                                          | filterSpeed : speeds">
         <div class="tournament-name-container">
            <p class="tournament-name">{{ tournament.name }}</p>
            <div class="tournament-pokerroom-container">
               <img class="tournament-pokerroom" src="../../../assets/images/PokerStars_emblem.svg"> {{ tournament.pokerroom }}
            </div>
         </div>
         <div class="tournament-info-container">
            <div class="tournament-time-container">
               <p class="tournament-time">{{ tournament.time.hour | number : '2.0-0' }}<span>:{{ tournament.time.minute | number : '2.0-0' }}</span></p>
               <p class="tournament-info-subtitle">Time</p>
            </div>
            <div class="tournament-buyin-container">
               <p class="tournament-buyin">${{ tournament.buyin.total | number : '1.2-2' }}</p>
               <p class="tournament-info-subtitle">Buyin</p>
            </div>
         </div>
         <div class="tournament-button-container">
            <button type="button" name="button" class="btn btn-details" [routerLink]="['/tournaments', tournament._id]"><i class="fas fa-info-circle"></i> Details</button>            
            <button *ngIf="!includes(tournament)" type="button" name="button" class="btn btn-favourite" (click)="addTournamentToSchedule(tournament._id)">
               <i class="far fa-star"></i>
            </button>
            <button *ngIf="includes(tournament)" type="button" name="button" class="btn btn-favourite" (click)="deleteTournamentFromSchedule(tournament._id)">
               <i class="fas fa-star"></i>
            </button>
         </div>
      </div>
   </div>
   
   <div class="sidebar-container">
      <div class="filters-container">   
         <h2 class="sidebar-title">Filters</h2>
         <div class="buyin-container">
            <div class="slider-buyin-container">           
               <div class="buyin-stats">
                  <p class="buyin">Minimum</p>
                  <p class="buyin-value">${{ minBuyin.level | number : '1.2-2'  }}</p>
               </div>
               <input type="range" class="slider-buyin" min="0" max="{{ buyins.length - 1}}" step="1" value="{{ minBuyin.step }}" (input)="onMinBuyinChange($event)">
            </div>
            <div class="slider-buyin-container">           
               <div class="buyin-stats">
                  <p class="buyin">Maximum</p>
                  <p class="buyin-value">${{ maxBuyin.level | number : '1.2-2' }}</p>
               </div>
               <input type="range" class="slider-buyin" min="0" max="{{ buyins.length - 1 }}" step="1" value="{{ maxBuyin.step }}" (input)="onMaxBuyinChange($event)">
            </div>
         </div>
         <div class="tags-container">
            <div class="tags tags-speed" *ngFor="let speed of speeds" (click)="onSpeedChange(speed.name)">
               <p class="tag-name tags-name-speed" [ngClass]="{'tag-name-unchecked-speed': !speed.checked}">{{ speed.name }}</p>
            </div>
         </div>
      </div>

      <div class="starting-tournaments-container">
         <h2 class="sidebar-title">Starting soon</h2>

         <div class="starting-tournament" *ngFor="let tournament of startingTournaments">           
            <div class="tournament-pokerroom-container">
               <img class="starting-tournament-pokerroom" src="../../../assets/images/PokerStars_emblem.svg">
            </div>
            <div class="starting-tournament-info-container">
               <p class="starting-tournament-name">{{ tournament.tournament.name }}</p>
               <p class="starting-tournament-time">Starts in {{ tournament.startsIn }} minutes</p>
            </div>
         </div>
      </div>
   </div>
</div>