<div class="content-wrapper">
   <div class="schedule-container">

      <div class="tournament-schedule-title-container">
         <p class="tournament-schedule-title">Today</p>
         <p class="tournament-schedule-date">{{ today | date:'longDate' }}</p>
      </div>
      
      <div class="tournament-schedule-calendar-container">
         <div class="tournament-schedule-calendar">
            <div class="tournament-schedule-days">
               <div *ngFor="let day of weeklySchedule" (click)="selectDay(day.day)" class="tournament-schedule-day" [ngClass]="{'selected-day': selectedDay === day.day}">
                  <p class="tournament-schedule-day-weekday">{{ day.date | date:'EEEEEE' }}</p>
                  <p class="tournament-schedule-day-date">{{ day.date | date:'d' }}</p>
                  <p class="tournament-schedule-day-month">{{ day.date | date:'MMM' }}</p>
               </div>
            </div>
            <div class="tournament-schedule-now">
               <div class="tournament-schedule-now-icon-container">
                  <img src="..\..\..\assets\images\001-project-management.svg" class="tournament-schedule-now-icon">
               </div>
               <div class="tournament-schedule-now-body">
                  <p class="tournament-schedule-now-title">Tournaments</p>
                  <p class="tournament-schedule-now-subtitle">Running right now - <span>{{ now.length }}</span></p>
               </div>
               <div class="tournament-schedule-now-link">
                  <a (click)="selectNow()">Show</a>
               </div>
            </div>
         </div>
      </div>
      
      <div *ngIf="selectedDay" class="tournament-schedule-tournament-container">
         <h2 class="tournament-container-title">{{ selectedDay }} - {{ schedule?.length}} tournaments</h2>
         <div *ngFor="let tournament of schedule" class="tournament-container">
            <div class="tournament-name-container">
               <p class="tournament-name">{{ tournament.name }}</p>
               <div class="tournament-pokerroom-container">
                  <img class="tournament-pokerroom" src="../../../assets/images/PokerStars_emblem.svg"> {{ tournament.pokerroom }}
               </div>
            </div>
            <div class="tournament-info-container">
               <div class="tournament-time-container">
                  <p class="tournament-time">{{ tournament.time.hour | number : '2.0-0' }}<span>:{{ tournament.time.minute | number : '2.0-0' }}</span></p>
                  <p class="tournament-info-subtitle">Time</p>
               </div>
               <div class="tournament-buyin-container">
                  <p class="tournament-buyin">${{ tournament.buyin.total | number : '1.2-2' }}</p>
                  <p class="tournament-info-subtitle">Buyin</p>
               </div>
            </div>
            <div class="tournament-button-container">
               <button type="button" name="button" class="btn btn-details" [routerLink]="['/tournaments', tournament._id]"><i class="fas fa-info-circle"></i> Details</button>  
               <button type="button" name="button" class="btn btn-favourite" (click)="deleteTournamentFromSchedule(tournament._id)"><i class="fas fa-star"></i></button>
            </div>
         </div>
      </div>
   </div>

   <div class="sidebar-container"></div>
</div>
