<nav class="navbar">   
   <nav class="navbar-top">
      <div class="navbar-top-header">
         <!-- <img src="../../../assets/images/free_horizontal_on_white_by_logaster.png" alt=""> -->
      </div>
      <div class="navbar-top-dropdown">
         <li class="dropdown">
            <input id="dropdown-link" type="checkbox" name="dropdown-menu"/>            
            <label for="dropdown-link"><img [src]="avatar" alt="avatar">{{ name }} </label>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="far fa-user"></i> Profile</a></li>
              <li><a href="#"><i class="fas fa-cog"></i> Settings</a></li>
              <li><a (click)="onLogout()" href="javascript:void(0)"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
          </li>
      </div>
   </nav>

   <nav class="navbar-bottom">
      <ul class="navbar-list">
         <li class="nav-item" [routerLinkActive]="['nav-item-active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLinkActive]="['nav-link-active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/dashboard']">Dashboard</a>
         </li>
         <li class="nav-item" [routerLinkActive]="['nav-item-active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLinkActive]="['nav-link-active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/tournaments']">Tournaments</a>
         </li>
         <li class="nav-item" [routerLinkActive]="['nav-item-active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLinkActive]="['nav-link-active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/schedule']">Schedule</a>
         </li>
         <li class="nav-item" [routerLinkActive]="['nav-item-active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLinkActive]="['nav-link-active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/session']">Session</a>
         </li>
         <li class="nav-item" [routerLinkActive]="['nav-item-active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLinkActive]="['nav-link-active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/results']">Results</a>
         </li>
      </ul>

      <ul class="navbar-list navbar-list-right">
         <li class="nav-item nav-item-right">
            <a class="nav-link" [routerLink]="['/help']">Help <i class="fas fa-question-circle"></i></a>
         </li>
      </ul>
   </nav>
</nav>
